.returned__park {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #d0c689;
  }

.returned-park-card {
  flex-basis: 100%;
  justify-content: center;
  border: solid 1px black;
}

.returned-park-photo {
  width:100%;
  height: auto;
  max-height: 30vh;
  overflow: hidden;
  margin-bottom: 3vh;
}

.returned-park-photo >img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.returned-park-name,
.returned-park-name-long {
  margin: 0;
}

.returned-park-state,
.returned-park-state-long {
  margin-top: 5px;
}
  
.returned-park-description {
  color: black;
  line-height: 1.5em;
  margin: 5vh 5% 10vh;
  height: 30vh;
}

.returned-park-link{
  padding: 2vh 5%;
  margin-bottom: -1%;
  margin-top: 3vh;
}

.returned-park-link a{
  color: #424b27;
  font-size: 1.2em;
  text-decoration: none;
}

footer {
  padding-bottom: 1vh
}


/*************************************** For Tablets and Up *********************************/
@media (min-width: 1000px){
  .returned-park-description {
    color: black;
    line-height: 1.5em;
    margin: 5vh 5% 15vh;
    height: 30vh;
  }
}


