* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  height: 0;
  width: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  height: 0;
  width: 0;
}

*::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
  background-color: transparent;
}

html, body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.bg_div {
  height: calc(80vh - 50px);
  min-height: calc(80vh - 50px);
  max-height: calc(80vh - 50px);
  overflow-y: hidden;
  object-fit: contain;
  z-index: 100
}

.bkgrnd {
  position: fixed;
  overflow-y: hidden;
  top: 0;
  height: 100%;
  width: auto;
}
  
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  color: #424b27;
  font-family: 'Passion One', cursive;
  font-size: 4.5em;
  letter-spacing: .03em;
  padding: 2vh 5% 0;
  margin: 2vh 5% 0;
  z-index: 1000;
  }

h2 {
  color: #424b27;
  font-family: 'Dorsa', sans-serif;
  text-transform: uppercase;
  font-size:3em;
  letter-spacing: .1em;
  padding: 0 5%;
  max-width: 100%;
  margin: 0 5%;
  z-index: 1000;
}

header {
    width: 100%;
    position: fixed;
    overflow-y: hidden;
    top: 0;
}

h3 {
  color: #424b27;
  margin: 3vh 5% 2vh;
  font-size: 1.3em;
}

h3 > span {
  font-size: .9em;
  color: #505a32;
}

h4{
  margin: 0 0 -2vh;
  font-size: 1.1em;
}

p{
  color: #d0c689;
  font-size: .9em;
}

/*************************************** For Tablets and Up *********************************/
@media (min-width: 1000px){

  .bg_div {
    height: calc(100vh - 15px);
    min-height: calc(100vh - 15px);
    max-height: calc(100vh - 15px);
    overflow-y: hidden;
    background-size: cover; 
  }

  .bkgrnd {
    width: 100%;
    height: auto;
  }

  header > h1, h2{
    padding: 0;
  }

  header h1 {
    font-size: 5.5em;
    }
  
  header h2 {
    font-size: 3.5em;
  }

}

/*************************************** For Laptops and Up *********************************/
@media (min-width: 1440px){

  .bg_div {
    height: calc(100vh - 15px);
    min-height: calc(100vh - 15px);
    max-height: calc(100vh - 15px);
    overflow-y: hidden;
    background-size: cover; 
  }

  .bkgrnd {
    height: auto;
    top: -18vh;
    width: 100%;
  }
}

/*************************************** For Desktops and Up *********************************/
@media (min-width: 1680px){
  .bkgrnd {
    top: -25vh;
  }
}