* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}


.hidden {
  display: none;
}

.bg_div {
  background-image: url("../images/header_img_phone.jpg");
  background-position: 0 30%;
  background-attachment: fixed;
  height: calc(100vh - 150px);
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow-y: hidden;
  background-size: cover
}
  
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  color: #424b27;
  font-family: 'Passion One', cursive;
  font-size: 5.5em;
  max-width: 90%;
  letter-spacing: .03em;
  padding: 2vh 5% 0;
  margin: 0 5% -2vh;
  }

h2 {
  color: #424b27;
  font-family: 'Dorsa', sans-serif;
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: .1em;
  padding: 0 5%;
  max-width: 90%;
  margin: 0 5%;
}

h3 {
  color: #424b27;
  margin: 3vh 5% 2vh;
  font-size: 1.3em;
}

h3>span {
  font-size: .9em;
  color: 505a32;
}

h4{
  margin: 0 0 -2vh;
  font-size: 1.1em;
}

p{
  color: #d0c689;
  font-size: .9em;
}

/*************************************** For Tablets and Up *********************************/
@media (min-width: 1000px){

  .bg_div {
    background-image: url("../images/header_img.jpg");
    background-position: 0 30%;
  }
}