/****************** FORM ******************/

form {
    background-color: #363d1f;
    width: 100%;
    position: absolute;
    bottom: 0vh;
    padding: 6vh 5% 6.5vh;
    height: 20vh;
    margin-bottom: -.5vh;
}

.form-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-group {
    margin-bottom: 1vh;
    align-items: center;
}

.form-submit {
    align-self: center;
}

input[type="text"] {
    padding: 1.25vh 25px;
    margin: 0 10px;
    width: 300px;
    outline: none;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: .03em;
    color: #d0c689;
    background-color: #424b27;
    text-align: left;
    border:1px solid #d0c689;
    }

input[type=number] {
    padding: 1.25vh 25px;
    margin: 0 10px;
    width: 300px;
    outline: none;
    font-size: 1em;
    font-weight: 300;
    background-color: #424b27;
    color: #d0c689; 
    text-align: left;
    border:1px solid #d0c689;
}

::placeholder {
    color: #d0c689;
}

input:focus::placeholder{
    color:transparent;
} 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    display:none;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #424b27 inset;
    -webkit-text-fill-color: #d0c689;
    box-shadow: 0 0 0 50px #424b27 inset;
    caret-color: #d0c689;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #424b27 inset;
    -webkit-text-fill-color: #d0c689;
    box-shadow: 0 0 0 50px #424b27 inset;
    caret-color: #d0c689;
}  

button {
    padding: 1.25vh 0 ;
    margin: 0 10px;
    width: 125px;
    background-color: #d0c689;
    color: #515C30;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: .05em;
    border:2px solid #d0c689;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.error__message_container{
    position: absolute;
    top: 45%;
    width: 40%;
    margin: 0 30%;
    border: 3px solid #C23C47;
    background-color: #FFF6F6;
    color:  #C23C47;
    padding: 10px;
}

.error__message_container p {
    text-align: center;
    margin: 15px;
    font-size: 1.3em;
    letter-spacing: .05em;
    color:  #C23C47;
}

.loading-container {
    position: absolute;
    top: 25vh;
    width: 30%;
    margin: 0 35%;
    height: 45vh;
    background-color: #fefdfd;
    border-radius: 10px;
}

.loading {
    position: absolute;
    top: 17vh;
    left: 40%;
    border: 8px solid #c8cbc0;
    border-radius: 50%;
    border-top: 8px solid #424b27;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/**************************************** For Tablets and Up *********************************/
@media (min-width: 1000px){

    form {
        padding: 0 5%;
        height: 14vh;
    }

    .form-flexbox {
        flex-direction: row;
        justify-content: space-between
    }

    .form-group {
        flex-basis: 40%;
        margin-bottom: 0;
    }    

    .form-submit {
        flex-basis: 15%;
    }

    input[type="text"] {
        padding: 1.5vh 25px;
        font-size: 1.15em;
        width: 100%;
    }

    input[type=number] {
        padding: 1.5vh 25px;
        font-size: 1.15em;
        width: 100%;
    }

    button {
        padding: 1.5vh 0;
        font-size: 1.15em;
        width: 200px;
    }

}


