/****************** FORM ******************/

.form-mobile {
    display: inline;
}

.form-desktop {
    display: none;
}

form {
    background-color: #363d1f;
    width: 100%;
    position: fixed;
    bottom: 0vh;
    height: 32vh;
    display:flex;
    align-items: center;
    padding:0% 3%;
    justify-content: flex-start;
    gap: 2%;
}

::placeholder {
    color: #d0c689;
}

input:focus::placeholder{
    color:transparent;
} 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    display:none;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #424b27 inset;
    -webkit-text-fill-color: #d0c689;
    box-shadow: 0 0 0 50px #424b27 inset;
    caret-color: #d0c689;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #424b27 inset;
    -webkit-text-fill-color: #d0c689;
    box-shadow: 0 0 0 50px #424b27 inset;
    caret-color: #d0c689;
} 

.loading-container {
    position: absolute;
    top: 25vh;
    width: 70%;
    margin: 0 15%;
    height: 45vh;
    background-color: #fefdfd;
    border-radius: 10px;
}

.loading {
    position: absolute;
    top: 17vh;
    left: 40%;
    border: 8px solid #c8cbc0;
    border-radius: 50%;
    border-top: 8px solid #424b27;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Bootstrap customizations */

.col-mobile {
    display: block;
}

.col-desktop {
    display: none;
}

.btn-flat {
    padding: 1.15vh 50px;
    background-color: #d0c689;
    color: #515C30;
    font-size: 1.15em;
    font-weight: 400;
    letter-spacing: .05em;
    border:2px solid #d0c689;
    border-radius: 5px;
    width:60%;
    margin: 0 20%;
}

.styled-input{
    padding: 1.25vh 75px 1.25vh 25px;
    outline: none;
    width:100%;
    font-size: 1.15em;
    font-weight: 300;
    letter-spacing: .03em;
    color: #d0c689;
    background-color: #424b27;
    text-align: left;
    border:1px solid #d0c689;
    border-radius: 5px;
}

.alert-msg{
    position: absolute;
    font-size: 1.15em;
    top: 45vh;
    width: 40%;
    left: 30%;
    background-color: #f7d7db;
    color: #711d26;
    border: 1px solid #f4c7cc;
    border-radius: 5px;
    padding: 15px 25px;
}

.alert-close {
    color: #711d26;
    position: absolute;
    right: 2%;
    top: 12%;
    font-size: 1.75em;
    line-height: 1.25em;
    z-index: 10000;
    cursor: pointer;
}


/**************************************** For Tablets and Up *********************************/
@media (min-width: 1000px){

    .form-mobile {
        display: none;
    }

    .form-desktop {
        display: flex;
    }
    
    form {
        height: 13vh;
    }

    .col-desktop {
        display: inline;
    }

    /* customized Bootstrap styling */
    .btn-flat {
        width:60%;
        margin: 0;
    }

    .styled-input{
        width:100%;
    }

    .alert-msg{
        width: 40%;
        left: 30%;
    }

    /* End of customized Bootstrap styling */

    .loading-container {
        width: 30%;
        margin: 0 35%;
    }

    .loading {
        left: 38%;
    }
}

